[PATH]
config=./networks/SriniNet.spec
load=./experiments/n764/
data=./dataset/e2198_e2006/spec/batch
save=./experiments/n764/
hist=

[OPTIMIZE]
n_threads=8
force_fft=1
optimize_fft=0

[TRAIN]
test_range=9001,9002
outsz=30,30,30
softmax=0
mirroring=1

[MONITOR]
check_freq=5
test_freq=100

[SCAN]
offset=0,0,0
dim=0,0,0
weight_idx=0
force_load=1
outname=out
